.portfolio {
  padding: 130px 0 152px;
  @include desktop {
    padding-top: 110px;
    padding-bottom: 118px;
    overflow-x: hidden;
  }
  @include tablets {
    padding-top: 160px;
    padding-bottom: 103px;
    text-align: center;
  }
  &__slider {
    margin-top: 90px;
    @include desktopHd {
      margin-top: 55px;
    }
    @include desktop {
      margin-top: 50px;
    }
    @include tablets {
      margin-top: 27px;
    }
  }
}
