footer.footer
  .container
    .footer__wrap
      .footer__left
        span.footer__copyright © 2020
        .footer__author
          h3.footer__author-name Евгений <br> Нечетов
          span.footer__author-project Личный сайт <br> веб-разработчика
      .footer__right
        .footer__nav
          +nav('nav', ["Главная","Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
        .footer__info
          .footer__info-project
            p.footer__info-descr Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
            .footer__info-social
              +socials('socials')
          .footer__info-project
            .footer__quote 
              p.footer__info-descr Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
            span.footer__quote-author Martin Golding