.mobile-menu#burger
  .mobile-menu__wrap
    .mobile-menu__close
      button.close#close
    .mobile-menu__content
      .mobile-menu__nav
        +nav('nav', ["Главная","Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
      .mobile-menu__social
        +socials('socials')