section.parallax__end
  .parallax__end-layer(data-speed="0.1")
    +image("parallax-Budda-1.jpg", "parallax__end-img", "Параллакс слайд")
  .parallax__end-layer(data-speed="0.25")
    +image("parallax-Budda-2.png", "parallax__end-img", "Параллакс слайд")
  .parallax__end-layer(data-speed="1")
    +image("parallax-Budda-3.png", "parallax__end-img", "Параллакс слайд")
  .parallax__end-layer(data-speed="0.50")
    +image("parallax-Budda-4.png", "parallax__end-img", "Параллакс слайд")
  .parallax__end-layer(data-speed="0.45")
    +image("parallax-Budda-5.png", "parallax__end-img", "Параллакс слайд")
  .parallax__end-layer
    +image("parallax-Budda-6.png", "parallax__end-img", "Параллакс слайд")