section.parallax
  .parallax__layer(data-speed="0.1")
    +image("parallax-1.jpg", "parallax__img", "Параллакс слайд")
  .parallax__layer(data-speed="0.25")
    +image("parallax-2.png", "parallax__img", "Параллакс слайд")
  .parallax__layer(data-speed="1")
    +image("parallax-3.png", "parallax__img", "Параллакс слайд")
  .parallax__layer(data-speed="0.50")
    +image("parallax-4.png", "parallax__img", "Параллакс слайд")
  .parallax__layer(data-speed="0.45")
    +image("parallax-5.png", "parallax__img", "Параллакс слайд")
  .parallax__layer(data-speed="0.48")
    +image("parallax-6.png", "parallax__img", "Параллакс слайд")
  .parallax__layer
    +image("parallax-7.png", "parallax__img", "Параллакс слайд")