.triangles
  svg.triangles__item.trianles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
    polygon(
      points="0,0 0,100 1000,100"
    )
  svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
    polygon(
      points="0,100 1000,100 1000,0"
    )