include ./templates/mixins

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        include ./templates/components/main-section
        include ./templates/components/triangles
        include ./templates/skills
        include ./templates/components/portfolio
        include ./templates/components/triangles-portfolio
        include ./templates/components/end-section        
        include ./templates/components/footer

        include ./templates/components/mobile-menu